<mat-toolbar color="primary" *ngIf="!mep.expanded">
  <mat-toolbar-row fxLayoutAlign="space-between center">    
      
      <span fxShow fxHide.lt-lg>ACMEWeb</span>      
      <div fxShow fxHide.lt-lg>
          <a mat-button [routerLink]="['/']">Sign Up</a>
          <a mat-button [routerLink]="['/team-rosters']">Team Roster</a> 
      </div>  

      <!-- For smaller screen -->
      <span mat-button fxHide fxShow.lt-lg>Table Tennis Tourney</span>
      <button mat-button fxHide fxShow.lt-lg (click)="mep.expanded = true;">
          <mat-icon>menu</mat-icon>            
          Menu   
      </button>                 
  </mat-toolbar-row>
</mat-toolbar>
<mat-expansion-panel #mep color="primary">
  <mat-nav-list color="primary">    
      <a mat-list-item [routerLink]="['/']" color="primary">Sign Up</a>
      <a mat-list-item [routerLink]="['/team-rosters']">Team Roster</a>
      <a mat-list-item (click)="mep.expanded=false" href="#" mat-list-item>Close</a>  
  </mat-nav-list>
</mat-expansion-panel>
<div fxLayout="column" style="min-height: calc(100vh - 64px); position: relative;">
    <div fxLayoutAlign="column center" style="height: 40vh; overflow: hidden; background-image: url('assets/table-tennis-4291378_1920.jpg'); background-size: cover; background-position: center center;">
      <span fxFlex></span>
      <div class="title" >Table Tennis Tourney</div>
    </div>
    <div [@routeAnimations]="prepareRoute(outlet)" >
        <router-outlet #outlet="outlet"></router-outlet>
    </div>
    <footer fxFlexOffset="auto" color="dark-blue">
      <span>@ 2019 ACMEWeb Corporation</span>
    </footer>
</div>