@import 'src/theme.scss';
$dark-blue: #0e0e52;
.title {
    color: $light-text;
    padding: 20px; 
    font-size: xxx-large; 
}

footer {
    color: white;
    background-color: $dark-blue;
}

.mat-expansion-panel-body{
    padding: 0;
}

.mat-expansion-panel .mat-list-item {
    background-color: map-get($map: $mat-primary, $key: main);
    color: $light-text;
}

.mat-expansion-panel .mat-list-item:hover {
    background-color: #3943b7;
}

.mat-nav-list {
    padding: 0 !important;
    background-color: map-get($map: $mat-primary, $key: main);
}

.title {
    max-width: 30vw;
    text-align: center;
}