
.mat-form-field {
    width: 100%;
}

.wrapper {
    padding: 0px 30px;
}

.form-wrapper {
    width: 500px;
    display: inline-block;
}

.form-wrapper.mobileView {
    width: 100%;
    display: block;
}