@import 'src/theme.scss';

footer {
    background-color: map-get($mat-primary, main);
    padding: 20px;
    
}

body, html {
    margin: 0;
    font-family: 'Roboto';
}

.green.mat-form-field-appearance-outline .mat-form-field-outline {    
    color:  #158d00;
}

.red.mat-form-field-appearance-outline .mat-form-field-outline {    
    color:  #ec0000;
}

.mat-expansion-panel-body{
    padding: 0 !important;
}

.container {
    min-height: calc(60vh - 160px);
    margin: 10px 20px;
}

.mat-progress-bar {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
}